include .streamlit/config.toml
include img/sacmex.png
include img/inesproc.png
include Datos/DataBase.sqlite
include Datos/Malla.geojson
include Datos/MallaCoordenadas.csv
include Datos/Sectores.geojson
include DatosIniciales/Estaciones.csv
include DatosIniciales/Presiones.csv
include DatosIniciales/RangosPresiones.csv